*
{
    background-color:black;
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
}
#date
{
    color: aliceblue;
    border-color: aqua;
}
input{
    color-scheme: dark;
    size: 50%;
    width: 100px;
    height: 50px;
}
h1{
    font-size: 50px;
}
.getdate
{
    height: 200;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.303);
    color: #fff;
    padding: 50px;
    border: solid 3px aqua;
    box-shadow: 0 0 5px 5px aqua;
   font-size: 35px;
    margin-left: 30%;
    
}
input[type="date"]
{
    width: 50%;
    height: 50px;
    color: aqua;
    box-sizing: 50px;
    padding: 50px;
    font-size: 40px;
    box-shadow:0 0 2.5px 2.5px aqua ;

}

div.container{
    width: 80%;
    margin:0 auto;
}